  {{!-- <footer>
    <p> Created By Ghanshyam Jadon</p>
  </footer> --}}

   <footer class="footer">
        <div class="footer-row">
            <div class="footer-col">
                <h3>About Us</h3>
                <p>We provide the most accurate weather forecasts.</p>
            </div>
            <div class="footer-col">
                <h3>Contact Us</h3>
                <p>Email: ghanshyamjadon62@gmail.com</p>
                <p>Phone: 9012545942</p>
            </div>
            <div class="footer-col">
                <h3>Follow Us</h3>
                <p>
                    <a href="#">Facebook</a> |
                    <a href="#">Twitter</a> |
                    <a href="https://www.instagram.com/kunal_singh24cse/" >Instagram</a>
                </p>
            </div>
        </div>
        <div class="footer-row">
            <div class="footer-col">
                <h3>Weather Services</h3>
                <p>Real-time Weather Updates</p>
                <p><a href="https://www.accuweather.com/en/us/walt-disney-world-resort/32830/may-weather/69031_poi">7-day Forecast</a></p>
            </div>
            <div class="footer-col">
                <h3>Resources</h3>
                <p><a href="https://blog.worldweatheronline.com/">Blog</a></p>
                <p><a href="https://worldweather.wmo.int/en/home.html">Weather News</a></p>
            </div>
            <div class="footer-col">
                <h3>Support</h3>
                <p><a href="index.hbs">FAQ</a></p>
                <p><a href="#">Contact Support</a></p>
            </div>
        </div>
        <div class="footer-row">
            <div class="footer-col">
                <p>&copy; 2024 Weather Website. All rights reserved.</p>
            </div>
        </div>
    </footer>