<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Main content of the website -->

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 col-sm-6 weather-image">
                <img src="images/sunny.jpg " alt="Sunny Weather" class="img-fluid rounded">
                <p class="text-center mt-2">Sunny</p>
            </div>
            <div class="col-md-4 col-sm-6 weather-image">
                <img src="images/rainy.jpg" alt="Rainy Weather" class="img-fluid rounded">
                <p class="text-center mt-2">Rainy</p>
            </div>
            <div class="col-md-4 col-sm-6 weather-image">
                <img src="images/temp2.jpg" alt="Snowy Weather" class="img-fluid rounded">
                <p class="text-center mt-2">Snowy</p>
            </div>
            <div class="col-md-4 col-sm-6 weather-image">
                <img src="images/cyclone.jpg" alt="Snowy Weather" class="img-fluid rounded">
                <p class="text-center mt-2">cyclone</p>
            </div>
            <div class="col-md-4 col-sm-6 weather-image">
                <img src="images/lightening1.jpg" alt="Snowy Weather" class="img-fluid rounded">
                <p class="text-center mt-2">lightening</p>
            </div>
            <div class="col-md-4 col-sm-6 weather-image">
                <img src="images/fog.jpg" alt="Snowy Weather" class="img-fluid rounded">
                <p class="text-center mt-2">fog</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <!-- Footer content here -->
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

