<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
  <!-- main header -->
  <div class="conatiner-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <!-- right side div -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
               <figure>
                  <img src="images/man2.jpg " alt="kunal" class="img-fluid" title="Amar tech">
               </figure>
     
              </div>
             <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p><h1>About me....</h1></p>
              <h1>Hey! I Am A <span class="text_color">Full-Stack Developer</span> And CO-Founder of AMAR<span class="text_color">Info</span>-Tech </h1>
              <a href="https://www.linkedin.com/in/ghanshyam-jadon-62100k1k9"><button>check now</button></a>
            </div>
            
          </div>
        </div>
    </div>
  </div>

  <!-- footer -->
 {{>footer}}
</body>
</html>