<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
  <!-- main header -->
  <div class="conatiner-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <!-- right side div -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
               <figure>
                  <img src="images/man2.jpg " alt="kunal" class="img-fluid" title="Amar tech">
               </figure>
     
              </div>
             <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p><h1>About me....</h1></p>
              <h2>Hey! I Am A <span class="text_color">Frontent Developer</span>& always eager to learn new things and like to facing new challenges in-<span class="text_color"> Tech</span> </h2>
              <h3>with a focus on making weather information accessible, i've developed a dynamic weather website as part of my project. Through programming and data analysis, i am to provide accurate forecasts in a user friendly format .Join me in exploring the wonders of weather science and leveraging technology to empower informed decision-making.</h3>
              <h1>welcome to our<span class="text_color"> weather website!</span></h1>
              <a href="https://www.linkedin.com/in/ghanshyam-jadon-62100k1k9"><button>check now</button></a> <hr>
               <a href="https://www.britannica.com/science/weather-forecasting"><button>for more details</button></a>
         
            </div>
            
          </div>
        </div>
    </div>
  </div>

{{>image}}
  <!-- footer -->
 {{>footer}}
</body>
</html>